::-webkit-scrollbar {
    display: none;
    /*Removes Scrollbar*/
}

body {
    background-color: #101524;
    color: #f8f9fa;
    /* Offwhite color */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.background {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 120%;
    height: 120%;
    background-image: url("/assets/BgGrain.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    transform: translate(-50%, -50%);
    z-index: -1;
    /* Ensure it stays behind other content */
}

.app-container {
    position: relative;
    z-index: 1;
    /* Ensure content stays above the background */
}

.text-offwhite {
    color: #f8f9fa;
    /* Offwhite color */
}

.card {
    background-color: #1a1d29;
    border: none;
}

.card-body {
    padding: 20px;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* Each section fills the screen height */
    padding: 60px 15px;
    width: 100%;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    /* Adjust as needed for your design */
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
}