@font-face {
    font-family: "Azonix";
    src: url(".public/assets/Azonix.otf");
}

/* Universal Selector to Ensure Box Model Consistency */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
    /* Prevent horizontal scrolling */
}

/* Updated .fullbody Class */
.fullbody {
    background-color: blue;
}

/* Ensure .content fits within viewport */
.content {
    height: auto;
    width: 100%;
    /* Ensure it spans the full width of its container */
    background-color: black;
    background-image: url("/assets/BgGrain.png");
    background-position: center;
    background-attachment: fixed;
    color: #f7f8f1;
    text-align: center;
    overflow-x: hidden;
}

/* Adjust .tricks-container-app to fit within viewport */
.tricks-container-app {
    height: 100vh;
    width: 100vw;
    /* Adjust this as needed, use 100% if necessary */
    align-content: center;
    display: inline-block;
    overflow-x: hidden;
    /* Ensure no horizontal overflow */
}

/* Adjust .proj-container to fit within viewport */
.proj-container {
    height: 100vh;
    width: 100vw;
    /* Adjust this as needed, use 100% if necessary */
    align-content: center;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    /* Ensure no horizontal overflow */
}

/* Specific media queries for responsive design */
@media (max-width: 768px) {
    .content {
        width: 100%;
        /* Ensure it spans the full width of its container on smaller screens */
    }

    .tricks-container-app,
    .proj-container {
        width: 100%;
        /* Ensure full width on smaller screens */
    }
}