@font-face {
    font-family: "Azonix";
    src: url("./assets/Azonix.otf");
}

.content {
    height: auto;
    width: auto;
    /* Same as the width of the sidebar */
    background-color: black;
    background-image: url("./assets/BgGrain.png");
    background-position: center;
    background-attachment: fixed;
    color: #f7f8f1;
    text-align: center;
}

.card-container {
    /*Wtf is that spacing?*/
    height: 100vh;
    align-content: center;

}

.card-container h1 {
    margin: 10px;
    height: auto;
    font-size: 2.5rem;
}

.tricks-container {
    /*Wtf is that spacing?*/
    height: 100vh;
    align-content: center;
}

.proj-container {
    /*Wtf is that spacing?*/
    height: 100vh;
    align-content: center;
    display: flex;
    flex-direction: row;
}

.intro {
    height: 100vh;
    align-content: center;
}

.intro p {
    margin-top: 9%;
}

.intro h3 {
    font-size: 2.5rem;
}

.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.SocMed {
    z-index: 5;
}

.SocMed-Icon {
    padding: 10px 0px 10px 0px;
}