@font-face {
    font-family: "Azonix";
    src: url("./assets/Azonix.otf");
}

.intro {
    height: 100vh;
    align-content: center;
    z-index: 5;
}

.intro p {
    margin-top: 9%;
}

.intro h3 {
    font-size: 2.5rem;
    z-index: 5;
}

.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.SocMed {
    z-index: 5;
}

.SocMed-Icon {
    padding: 10px 0px 10px 0px;
}

.DevBg {
    align-content: center;
    z-index: 0;
}

.Selector {
    z-index: 5;
}