.proj-left {
    width: 50vw;
    background-color: #f7f8f1;
    margin: 15vh 0 0 0;
    border-radius: 0px 30px 0px 0px;
    align-content: center;
}

.proj-left li {
    padding-right: 2rem;
    list-style-type: none;
    transition: all 0.3s ease;
}

.proj-left li:hover {
    padding-left: 2rem;
}

.proj-left a {
    font-size: 1.25rem;
    color: #04151f;
    text-decoration: none;
    transition: all 0.3s ease;
}

.proj-left a:hover {
    font-size: 1.25rem;
    color: #1988c8;
    text-decoration: none;
}

.proj-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 2vh 0;
    border-bottom: solid #04151f;
    transition: all 0.3s ease;
}

.proj-row:hover {
    transition: all 0.3s ease;
    border-bottom: solid #1988c8;
}

.proj-title {
    text-align: left;
}

.proj-desc {
    text-align: right;
}

.proj-right {
    margin: 15vh 0 0 0;
    width: 50vw;
    align-content: center;
}

.preview-wrapper {
    height: 80%;
    width: 80%;
    margin-left: 10%;
    border-radius: 3rem;
    background-color: aqua;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: opacity 0.3s ease-in-out;
}

/* Fade-in and fade-out classes */
.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}